<p>Thank You for adding your gym.</p>
<p>Following is your gymexplore credential to make any changes to your gym</p>
<p>Email - <%=@email%></p>
<p>Password - <%=@pass%></p>
<p><a href="<%=new_agency_session_url%>">Click Here</a> to Login</p>
<p><a href="<%=edit_agency_registration_url%>">Click Here</a> to Edit Your Gym or Change Password</p>