
        <!-- Content -->

        <div id="wrapper">
            <div id="mapView" class="mob-min"><div class="mapPlaceholder"><span class="fa fa-spin fa-spinner"></span> Loading map...</div></div>
            <div id="content" class="mob-max">
                <div class="rightContainer">
                    <h1>List a New Gym</h1>
                    <%= form_for @gym do |f| %>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" name="name">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea class="form-control" rows="4" name="description"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Address <input type="hidden" id="latitude" name="latitude" /> <input type="hidden" id="longitude" name="longitude" /></label>
                            <input class="form-control" type="text" id="address" name="address" placeholder="Enter a Location" autocomplete="off">
                            <p class="help-block">You can drag the black marker to gym position</p>
                        </div>
                        <div class="pricing-wrapper">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label>Duration</label>
                                        <div class="input-group">
                                            <input class="form-control" type="number" placeholder="Ex: 3" name="duration[]">
                                            <div class="input-group-addon">Month(s)</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                    <div class="form-group">
                                        <label>Price</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">Rs.</div>
                                            <input class="form-control" type="text" placeholder="Ex: 5000.00" name="price[]">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"><button id="add-pricing" class="btn btn-green btn-xs margin-b-10">Add Field</button></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label>Image Gallery</label>
                                    <%= f.file_field :images, :class => "file", :multiple => true, :data => { :'show-upload' => "false", :'show-caption' => "false", :'show-remove' => "false", :'browse-class' => "btn btn-o btn-default", :'browse-label' => "Browse Images" }, :accept => "image/jpeg,image/png" %>
                                    <!-- <input type="file" class="file" multiple data-show-upload="false" data-show-caption="false" data-show-remove="false" accept="image/jpeg,image/png" data-browse-class="btn btn-o btn-default" data-browse-label="Browse Images" name="images[]"> -->
                                    <p class="help-block">You can select multiple images at once</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label>Facilities</label>
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Personal Training" name="facilities[]"><span class="fa fa-check"></span> Personal Training</label></div>
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Cardio" name="facilities[]"><span class="fa fa-check"></span> Cardio</label></div>
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Group Exercise / Aerobics" name="facilities[]"><span class="fa fa-check"></span> Group Exercise / Aerobics</label></div>
                                    
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Steam Room" name="facilities[]"><span class="fa fa-check"></span> Steam Room</label></div>
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Physiotherapist" name="facilities[]"><span class="fa fa-check"></span> Physiotherapist</label></div>
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Nutrition" name="facilities[]"><span class="fa fa-check"></span> Nutrition</label></div>
                                    
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Fitness Assessment" name="facilities[]"><span class="fa fa-check"></span> Fitness Assessment</label></div>
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Lockers" name="facilities[]"><span class="fa fa-check"></span> Lockers</label></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label>Other Facilities</label>
                                    <input type="text" class="form-control" name="other_facilities" id="tags" placeholder="Add Facilities">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-green btn-lg">Add Gym</button>
                        </div>
                    <% end %>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>