<%
meta title: "Add New Gym",
     description: "Add new gym",
     keywords: %w(gymexplore gyms),
     robots: "nofollow"
%>
        <!-- Content -->

        <div id="wrapper">
            <div id="mapView" class="mob-min"><div class="mapPlaceholder"><span class="fa fa-spin fa-spinner"></span> Loading map...</div></div>
            <div id="content" class="mob-max">
                <div class="rightContainer">
                    <h1>List a New Gym</h1>
                    <%= form_for @gym do |f| %>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" name="name">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" class="form-control" name="email" required="required">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label>Mobile</label>
                                    <input type="text" value="+91" class="form-control" name="mobile" placeholder="+919632xxxxxx">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label>Website</label>
                                    <input type="text" class="form-control" value="http://" name="website">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea class="form-control" rows="4" name="description"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Landmark To Place Pin In Map <input type="hidden" id="latitude" name="latitude" /> <input type="hidden" id="longitude" name="longitude" /></label>
                            <input class="form-control" type="text" id="address" placeholder="Start Typing Any Famous Landmark Near By" autocomplete="off">
                            <p class="help-block">You can drag the black marker to gym position</p>
                        </div>
                        <div class="form-group">
                            <label>Full Address</label>
                            <textarea class="form-control" rows="4" name="address"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Registration Fees</label>
                            <div class="input-group">
                                <div class="input-group-addon">Rs.</div>
                                <input class="form-control" type="text" placeholder="Ex: 500" name="fees">
                            </div>
                        </div>
                        <div class="pricing-wrapper">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label>Duration</label>
                                        <div class="input-group">
                                            <input class="form-control" type="number" placeholder="Ex: 3" name="duration[]">
                                            <div class="input-group-addon">Month(s)</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                    <div class="form-group">
                                        <label>Price</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">Rs.</div>
                                            <input class="form-control" type="text" placeholder="Ex: 5000.00" name="price[]">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"><button id="add-pricing" class="btn btn-green btn-xs margin-b-10">Add New Pricing</button></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label>Image Gallery</label>
                                    <%= f.file_field :images, :class => "file", :multiple => true, :data => { :'show-upload' => "false", :'show-caption' => "false", :'show-remove' => "false", :'browse-class' => "btn btn-o btn-default", :'browse-label' => "Browse Images" }, :accept => "image/jpeg,image/png" %>
                                    <!-- <input type="file" class="file" multiple data-show-upload="false" data-show-caption="false" data-show-remove="false" accept="image/jpeg,image/png" data-browse-class="btn btn-o btn-default" data-browse-label="Browse Images" name="images[]"> -->
                                    <p class="help-block">You can select multiple images at once</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label>Number of Trainers</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">Male</div>
                                        <input class="form-control" type="number" placeholder="Ex: 4" name="male_trainers">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">Female</div>
                                        <input class="form-control" type="number" placeholder="Ex: 2" name="female_trainers">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label>Facilities</label>
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Personal Training" name="facilities[]"><span class="fa fa-check"></span> Personal Training</label></div>
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Cardio" name="facilities[]"><span class="fa fa-check"></span> Cardio</label></div>
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Group Exercise / Aerobics" name="facilities[]"><span class="fa fa-check"></span> Group Exercise / Aerobics</label></div>
                                    
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Steam Room" name="facilities[]"><span class="fa fa-check"></span> Steam Room</label></div>
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Physiotherapist" name="facilities[]"><span class="fa fa-check"></span> Physiotherapist</label></div>
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Nutrition / Dietitian" name="facilities[]"><span class="fa fa-check"></span> Nutrition / Dietitian</label></div>
                                    
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Fitness Assessment" name="facilities[]"><span class="fa fa-check"></span> Fitness Assessment</label></div>
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Lockers" name="facilities[]"><span class="fa fa-check"></span> Lockers</label></div>
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Yoga" name="facilities[]"><span class="fa fa-check"></span> Yoga</label></div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Kickboxing" name="facilities[]"><span class="fa fa-check"></span> Kickboxing</label></div>
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Karate" name="facilities[]"><span class="fa fa-check"></span> Karate</label></div>
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Muay Thai" name="facilities[]"><span class="fa fa-check"></span> Muay Thai</label></div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox" value="AC" name="facilities[]"><span class="fa fa-check"></span> AC</label></div>
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Zumba" name="facilities[]"><span class="fa fa-check"></span> Zumba</label></div>
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Cycle Studio" name="facilities[]"><span class="fa fa-check"></span> Cycle Studio</label></div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Certified Trainers" name="facilities[]"><span class="fa fa-check"></span> Certified Trainers</label></div>
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Strengthening" name="facilities[]"><span class="fa fa-check"></span> Strengthening</label></div>
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Body Building" name="facilities[]"><span class="fa fa-check"></span> Body Building</label></div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Weight Loss / Weight Gain" name="facilities[]"><span class="fa fa-check"></span> Weight Loss / Weight Gain</label></div>
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Spinning" name="facilities[]"><span class="fa fa-check"></span> Spinning</label></div>
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Circuit Training" name="facilities[]"><span class="fa fa-check"></span> Circuit Training</label></div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Membership Transfer" name="facilities[]"><span class="fa fa-check"></span> Membership Transfer</label></div>
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox" value="First Aid Kit" name="facilities[]"><span class="fa fa-check"></span> First Aid Kit</label></div>
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Kettlebell Trainig" name="facilities[]"><span class="fa fa-check"></span> Kettlebell Trainig</label></div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Crossfit" name="facilities[]"><span class="fa fa-check"></span> Crossfit</label></div>
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox" value="3D Max Rack" name="facilities[]"><span class="fa fa-check"></span> 3D Max Rack</label></div>
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox" value="TRX" name="facilities[]"><span class="fa fa-check"></span> TRX</label></div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Free Parking" name="facilities[]"><span class="fa fa-check"></span> Free Parking</label></div>
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Resistance Machines" name="facilities[]"><span class="fa fa-check"></span> Resistance Machines</label></div>
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox" value="Pilates" name="facilities[]"><span class="fa fa-check"></span> Pilates</label></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label>Other Facilities</label>
                                    <input type="text" class="form-control" name="other_facilities" id="tags" placeholder="Add Facilities">
                                    <p class="help-block">Press enter after every facility you type to add it.</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-green btn-lg">Add Gym</button>
                        </div>
                    <% end %>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>