.search-box{
	width: 85%;
	border: 2px solid gray;
	border-radius: 2px;
	font-size: 15px;
	padding: 12px;
	border: 0px;
}
.search-btn{
	padding: 16px;
	margin-top: -6px;
	font-size: 16px;
	border-radius: 2px;
	background-color: #0eaaa6 !important;
	border: 0px;
}
.search-section{
	background-color: rgba(255, 255, 255, 0.30);
	text-align: center;
	margin-top: 1%;
	padding: 15px 0px;
	width: 55%;
	margin-left: 22%;
	border-radius: 2px;
	font-family: 'open_sansregular', sans-serif, Arial;

}
.width-100{
	width: 100% !important;
}
.margin-b-10{
	margin-bottom: 10px;
}

button.searchHandler {
	display: block;
	width: 60px;
	height: 60px;
	/*float: right;*/
	text-align: center;
	font-size: 18px;
}

table.table{
	margin-bottom: 0px !important;
}